@charset "UTF-8";
/* Importing extra SCSS files */
/* Mixin of general behaviour and design for social buttons */
/* Mixin for social media icon design */
/* Mixin portfolio container setup */
/* Mixin grid setup */
.social-media-container {
  position: -webkit-sticky;
  position: sticky;
  width: 50px;
  bottom: 50%;
}

.social-media-container .social-media {
  list-style-type: none;
}

.social-media-container .social-media .external-link {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

.social-media-container .social-media .blog {
  width: 250px;
  height: 50px;
  text-align: right;
  padding: 12px 0px 0px 0px;
  background: #e17b77;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  -webkit-transition: -webkit-transform 500ms ease-in;
  transition: -webkit-transform 500ms ease-in;
  transition: transform 500ms ease-in;
  transition: transform 500ms ease-in, -webkit-transform 500ms ease-in;
}

.social-media-container .social-media .blog:hover {
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.social-media-container .social-media .blog .fa-laptop-code::before {
  margin: 0px 15px 0px 20px;
  content: "";
  font-size: 1.3em;
  color: white;
}

.social-media-container .social-media .facebook {
  width: 250px;
  height: 50px;
  text-align: right;
  padding: 12px 0px 0px 0px;
  background: #3b5998;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  -webkit-transition: -webkit-transform 500ms ease-in;
  transition: -webkit-transform 500ms ease-in;
  transition: transform 500ms ease-in;
  transition: transform 500ms ease-in, -webkit-transform 500ms ease-in;
}

.social-media-container .social-media .facebook:hover {
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.social-media-container .social-media .facebook .fa-facebook::before {
  margin: 0px 15px 0px 20px;
  content: "";
  font-size: 1.3em;
  color: white;
}

.social-media-container .social-media .twitter {
  width: 250px;
  height: 50px;
  text-align: right;
  padding: 12px 0px 0px 0px;
  background: #00aced;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  -webkit-transition: -webkit-transform 500ms ease-in;
  transition: -webkit-transform 500ms ease-in;
  transition: transform 500ms ease-in;
  transition: transform 500ms ease-in, -webkit-transform 500ms ease-in;
}

.social-media-container .social-media .twitter:hover {
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.social-media-container .social-media .twitter .fa-twitter::before {
  margin: 0px 15px 0px 20px;
  content: "";
  font-size: 1.3em;
  color: white;
}

.social-media-container .social-media .linkedin {
  width: 250px;
  height: 50px;
  text-align: right;
  padding: 12px 0px 0px 0px;
  background: #007bb6;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  -webkit-transition: -webkit-transform 500ms ease-in;
  transition: -webkit-transform 500ms ease-in;
  transition: transform 500ms ease-in;
  transition: transform 500ms ease-in, -webkit-transform 500ms ease-in;
}

.social-media-container .social-media .linkedin:hover {
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.social-media-container .social-media .linkedin .fa-linkedin-in::before {
  margin: 0px 15px 0px 20px;
  content: "";
  font-size: 1.3em;
  color: white;
}

.social-media-container .social-media .github {
  width: 250px;
  height: 50px;
  text-align: right;
  padding: 12px 0px 0px 0px;
  background: #333;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  -webkit-transition: -webkit-transform 500ms ease-in;
  transition: -webkit-transform 500ms ease-in;
  transition: transform 500ms ease-in;
  transition: transform 500ms ease-in, -webkit-transform 500ms ease-in;
}

.social-media-container .social-media .github:hover {
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.social-media-container .social-media .github .fa-github::before {
  margin: 0px 15px 0px 20px;
  content: "";
  font-size: 1.3em;
  color: white;
}

/* Clear prebuilt padding, margin and box-sizing. Default font is Calibri, Consolas */
* {
  font-family: "Calibri", "Consolas";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Set whole page background color */
body {
  background: #c3cfe2;
}

/* CSS styling for mobile screens max width of < 400px, horizontal scrolling */
@media screen and (max-width: 399px) {
  /* Portfolio Grid CSS styling */
  .portfolio {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    /* Container for portfolio grid */
  }
  .portfolio .portfolio-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (320px)[7];
        grid-template-columns: repeat(7, 320px);
    gap: 15px;
    /* Portfolio items */
  }
  .portfolio .portfolio-grid .portfolio-item {
    /* Testimonial CSS styling */
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial {
    position: relative;
    width: 320px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-box-shadow: 0px 5px 10px gray;
            box-shadow: 0px 5px 10px gray;
    border-radius: 20px;
    background: #fff;
    /* Container for testimonial text */
    /* Container for source & name */
    /* If hovering over portfolio item class, content will appear over image */
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-quote-container {
    padding: 30px 30px 0 30px;
    border-radius: 20px 20px 0 0;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-quote-container p {
    color: #555;
    font-size: 1.05em;
    font-weight: bold;
    line-height: 1.45em;
    margin-bottom: -50px;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    border-radius: 100%;
    border: 5px solid #fff;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-source-container {
    padding: 70px 50px 30px 50px;
    background: #686de0;
    border-radius: 0 0 20px 20px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1rem;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-source-container h3 {
    color: white;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-source-container p {
    color: lightsteelblue;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .button-more {
    visibility: hidden;
    height: 0;
    width: 0;
    -webkit-transition: background-color 400ms ease-out;
    transition: background-color 400ms ease-out;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial:hover .button-more {
    visibility: visible;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background: #323232;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial:hover .button-more button {
    width: 120px;
    height: 50px;
    font-size: 1em;
    border-style: none;
    border-radius: 10px;
  }
}

/* CSS styling for mobile screens */
@media screen and (min-width: 400px) {
  /* Portfolio Grid CSS styling */
  .portfolio {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    /* Container for portfolio grid */
  }
  .portfolio .portfolio-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (320px)[1];
        grid-template-columns: repeat(1, 320px);
    gap: 15px;
    /* Portfolio items */
  }
  .portfolio .portfolio-grid .portfolio-item {
    /* Testimonial CSS styling */
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial {
    position: relative;
    width: 320px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-box-shadow: 0px 5px 10px gray;
            box-shadow: 0px 5px 10px gray;
    border-radius: 20px;
    background: #fff;
    /* Container for testimonial text */
    /* Container for source & name */
    /* If hovering over portfolio item class, content will appear over image */
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-quote-container {
    padding: 30px 30px 0 30px;
    border-radius: 20px 20px 0 0;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-quote-container p {
    color: #555;
    font-size: 1.05em;
    font-weight: bold;
    line-height: 1.45em;
    margin-bottom: -50px;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    border-radius: 100%;
    border: 5px solid #fff;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-source-container {
    padding: 70px 50px 30px 50px;
    background: #686de0;
    border-radius: 0 0 20px 20px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1rem;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-source-container h3 {
    color: white;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-source-container p {
    color: lightsteelblue;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .button-more {
    visibility: hidden;
    height: 0;
    width: 0;
    -webkit-transition: background-color 400ms ease-out;
    transition: background-color 400ms ease-out;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial:hover .button-more {
    visibility: visible;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background: #323232;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial:hover .button-more button {
    width: 120px;
    height: 50px;
    font-size: 1em;
    border-style: none;
    border-radius: 10px;
  }
}

/* CSS styling for tablet screens */
@media screen and (min-width: 768px) {
  /* Portfolio Grid CSS styling */
  .portfolio {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    /* Container for portfolio grid */
  }
  .portfolio .portfolio-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (320px)[2];
        grid-template-columns: repeat(2, 320px);
    gap: 15px;
    /* Portfolio items */
  }
  .portfolio .portfolio-grid .portfolio-item {
    /* Testimonial CSS styling */
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial {
    position: relative;
    width: 320px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-box-shadow: 0px 5px 10px gray;
            box-shadow: 0px 5px 10px gray;
    border-radius: 20px;
    background: #fff;
    /* Container for testimonial text */
    /* Container for source & name */
    /* If hovering over portfolio item class, content will appear over image */
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-quote-container {
    padding: 30px 30px 0 30px;
    border-radius: 20px 20px 0 0;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-quote-container p {
    color: #555;
    font-size: 1.05em;
    font-weight: bold;
    line-height: 1.45em;
    margin-bottom: -50px;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    border-radius: 100%;
    border: 5px solid #fff;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-source-container {
    padding: 70px 50px 30px 50px;
    background: #686de0;
    border-radius: 0 0 20px 20px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1rem;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-source-container h3 {
    color: white;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-source-container p {
    color: lightsteelblue;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .button-more {
    visibility: hidden;
    height: 0;
    width: 0;
    -webkit-transition: background-color 400ms ease-out;
    transition: background-color 400ms ease-out;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial:hover .button-more {
    visibility: visible;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background: #323232;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial:hover .button-more button {
    width: 120px;
    height: 50px;
    font-size: 1em;
    border-style: none;
    border-radius: 10px;
  }
}

/* CSS styling for desktop screens */
@media screen and (min-width: 1024px) {
  /* Portfolio Grid CSS styling */
  .portfolio {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    /* Container for portfolio grid */
  }
  .portfolio .portfolio-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (320px)[3];
        grid-template-columns: repeat(3, 320px);
    gap: 15px;
    /* Portfolio items */
  }
  .portfolio .portfolio-grid .portfolio-item {
    /* Testimonial CSS styling */
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial {
    position: relative;
    width: 320px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-box-shadow: 0px 5px 10px gray;
            box-shadow: 0px 5px 10px gray;
    border-radius: 20px;
    background: #fff;
    /* Container for testimonial text */
    /* Container for source & name */
    /* If hovering over portfolio item class, content will appear over image */
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-quote-container {
    padding: 30px 30px 0 30px;
    border-radius: 20px 20px 0 0;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-quote-container p {
    color: #555;
    font-size: 1.05em;
    font-weight: bold;
    line-height: 1.45em;
    margin-bottom: -50px;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    border-radius: 100%;
    border: 5px solid #fff;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-source-container {
    padding: 70px 50px 30px 50px;
    background: #686de0;
    border-radius: 0 0 20px 20px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1rem;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-source-container h3 {
    color: white;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .testimonial-source-container p {
    color: lightsteelblue;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial .button-more {
    visibility: hidden;
    height: 0;
    width: 0;
    -webkit-transition: background-color 400ms ease-out;
    transition: background-color 400ms ease-out;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial:hover .button-more {
    visibility: visible;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background: #323232;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio .portfolio-grid .portfolio-item .testimonial:hover .button-more button {
    width: 120px;
    height: 50px;
    font-size: 1em;
    border-style: none;
    border-radius: 10px;
  }
}
/*# sourceMappingURL=style.css.map */