/* Importing extra SCSS files */
@import "variables", "socials";

/* Clear prebuilt padding, margin and box-sizing. Default font is Calibri, Consolas */
* {
  font-family: "Calibri", "Consolas";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Set whole page background color */
body {
  background: #c3cfe2;
}

/* CSS styling for mobile screens max width of < 400px, horizontal scrolling */
@media screen and (max-width: 399px) {
  /* Portfolio Grid CSS styling */
  .portfolio {
    @include portfoliosetup();

    /* Container for portfolio grid */
    .portfolio-grid {
      @include gridsetup(7);

      /* Portfolio items */
      .portfolio-item {
        @import "testimonial";
      }
    }
  }
}

/* CSS styling for mobile screens */
@media screen and (min-width: 400px) {
  /* Portfolio Grid CSS styling */
  .portfolio {
    @include portfoliosetup();

    /* Container for portfolio grid */
    .portfolio-grid {
      @include gridsetup(1);

      /* Portfolio items */
      .portfolio-item {
        @import "testimonial";
      }
    }
  }
}

/* CSS styling for tablet screens */
@media screen and (min-width: 768px) {
  /* Portfolio Grid CSS styling */
  .portfolio {
    @include portfoliosetup();

    /* Container for portfolio grid */
    .portfolio-grid {
      @include gridsetup(2);

      /* Portfolio items */
      .portfolio-item {
        @import "testimonial";
      }
    }
  }
}

/* CSS styling for desktop screens */
@media screen and (min-width: 1024px) {
  /* Portfolio Grid CSS styling */
  .portfolio {
    @include portfoliosetup();

    /* Container for portfolio grid */
    .portfolio-grid {
      @include gridsetup(3);

      /* Portfolio items */
      .portfolio-item {
        @import "testimonial";
      }
    }
  }
}
